
:root {
  --grey: rgb(190, 188, 188);
  --black: rgb(0, 0, 0);
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #d4dfcade;
  --hover: rgb(226, 57, 45);
  --border: rgba(219, 175, 175, 0.247);
}
body {
  background: transparent no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.navbarNav {
  margin-bottom: 3pc;


}
.nav-link {
  color: var(--light);
}
.navbarNav > .nav-link > a:hover{
    color: var(--hover);
}

.picture {
  padding: 0 0 0 0;
  margin-right: 10%;
  height: auto;
  width: 15%;
  object-fit: contain;
  align-self: flex-start;
  margin: 0 15px 5px 0px;
  }
.about-container {
    display: flex;
}

.about-text {
    flex: 1 1 auto;
    text-align: center;
}

.main-content-box {
    flex: 1;
    margin: auto;
    background-color: var(--grey);
    margin-bottom: 7px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--black);
    opacity:0.8;
}

.work-content-box {
  flex: 1;
    margin: 2px;
    background: transparent;
    background-color: var(--grey);
    margin-bottom: 15px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--black);
    opacity:0.8;
}

.card-body {
  background-color: var(--grey);
}

.card-footer {
  background-color: var(--grey);
}
.mash {
  height: 64px;
  width: 64px;
}

.sec-div {
  display: flex;
  flex-direction: column;
  height:100vh;
}

.foot-button{
  margin-right: 15px;
  bottom: 0;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  bottom:0;
  margin-top: auto;
  color: #fff;
}


@media screen and (max-width: 992px) {
  .main-content img {
      max-width: 95%;
  }
  .work-content-box {
    flex-direction: column;
  }
}